<launch>

  <include file="$(find opencv_detector)/launch/facerecognition.launch" >
  	<arg name="map_file" default="/home/odroid/catkin_ws/my_map.yaml" />
  </include>
  <include file="$(find localizer)/launch/localizer_node.launch" />

  <node pkg="localizer" type="mapper" name="facemapper" output="screen">
    <remap from="camera_info" to="/camera/rgb/camera_info" />
    <remap from="mapper" to="/facedetector/markers" />
  </node>

  
</launch>
